<% if !current_user %>
  <%= link_to "Login with Rdio", "/auth/rdio" %>
<% else %>
  <%= "Welcome " %>
  <%= current_user.first_name %>
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
  <%= image_tag current_user.image, class: "avatar" %></a>
  <%= link_to "Logout", destroy_session_path %>
<% end %>
